@CHARSET "UTF-8";

.edit-field:hover {
	cursor: pointer;
	background-image: url(images/edit_item.png);
	background-repeat: no-repeat;
	background-position: center left;
}

table .edit-field:hover {
	padding-left: 15px;
	background-color: #FFFF96;
}

table .edit-field {
	display: block;
}