@CHARSET "UTF-8";

@import
	url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700,800,400italic,300italic)
	;

@font-face{
    font-family: plant-icons;
    src: url(fonts/Plant-Icons-7.otf)
}
body {
	height: 8.5in;
	width: 11in;
	position: relative;

	font-family: 'Merriweather Sans', sans-serif;
}

.document {
	height: 8in;
	width: 11in;
	position: relative;
	clear: both;
	   overflow:hidden;
	page-break-inside: avoid;
	page-break-after: auto;
}

.header {
	font-size: 42pt;
	width: 100%;
}

.catalog-number {
	display: inline-block;
	font-weight: normal;
}

.common-name {
	display: inline-block;
	margin-left: .5in;
	font-weight: 700;
}

.subheader {
	width: 100%;
}

.latin-name {
	font-size: 36pt;
	font-style: italic;
	display: inline-block;
vertical-align: top;
}

.latin-name.saturday {
	margin-left: .5in;
}

.variety {
	font-weight: 800;
	font-size: 42pt;
}

.image {
  width: 5in;
  height: 5in;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: .25in;
}

.image img.photo {
	position: absolute;
	margin: 0 auto;
	width: 100%;
	width: 5in;
	height: 5in;
}

.saturday-delivery,.is-new {
	display: inline-block;
}

.saturday-delivery img, .is-new img {
	max-height: .7in;
}
.is-new img {
	max-width: 1in;
	padding-right: .125in;
}

.image .saturday-delivery img {
	
}

.variety-name{
	clear: both;
}

.details {
	display: inline-block;
	width: 5.5in;
	margin-top: .25in;
}

.description-group {
	text-align: left;
	padding-top:.25in
}

.description {
	margin-top: 8px;
}

.print_description {
	overflow: hidden;
	padding-top: 16px;
	font-style: italic;
}

.details-group {
	
}

.icons {
	position: relative;
	margin: 0 auto;
}

ul.icons {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.sunlight {
	display: inline-block;
}

ul.icons li {
	display: inline-block;
}

ul.icons li img {
 max-height:.4in;
}

.dimensions {
	display: inline-block;
	vertical-align: top;
}

.dimensions .width,.dimensions .height {
	display: inline-block;
	padding: 0 1em;
}

.dimensions label {
	display: block;
	font-size: 9pt;
}

.dimensions .text {
	font-size: 30pt;
	font-weight: 300;
}

.flags.icons {
	position:absolute;
	bottom: 0;
width: 100%;
	
}


.sunlight {
	display: inline-block;
}

.sunlight img {
	max-height: 100% !important;
    height: .65in !important;
}

.full_sun {
	
}

.part-sun {
	
}

.shade {
	
}
.flags li {
		background-color: rgba(255,255,255,.8);
		padding: 0 1px; 
}


.flags li,.sunlight li,.is-new, .saturday-delivery {
	font-family: plant-icons, "FSM Plant Sale Icons";
	font-size: 65px;
}

.flags li.minnesota-native {
	/*background-color: rgba(166, 250, 125, 0.75);*/
}

.flags li.poisonous {
	background-color: rgba(6, 255, 0, 0.85);
	float: right;
}



.flags img {
	
}

.price-group {
	padding-bottom: .125in;
}


.pot-size, .pot-size_field input {
  display: inline-block;
  font-weight: 300;
  font-size: 30pt;
  width: 48%;
}

.price, .price_field input {
	display: inline-block;
  font-size: 36pt;
  font-weight: 800;
  text-align: right;
  width: 48%;
  vertical-align: top;
}

.footer-group {
	position: absolute;
	bottom: 0;
	right: 0;
}

.grower-name {
font-size: 10pt;
  font-weight: 300;
  font-style: italic;
  text-align: right;
}

#crop-failure {
	position: absolute;
	font-weight: bold;
	font-size: 7em;
	color: red;
	opacity: .8;
	top: 0%;
	text-align: center;
	width: 50%;
	left: 0%;
}

#is-new {
	position: absolute;
}