@CHARSET "UTF-8";

@import
	url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700,800,400italic,300italic);

body {
	width: 8.5in;
	margin: 0;
	padding: 0;
	position: relative;
	font-family: 'Merriweather Sans', sans-serif;
}

.document {
	height: 4.9in;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	clear: both;
	/*page-break-inside: avoid;*/
	page-break-after: always;
}

.header {
	position: absolute;
	font-size: 48px;
	width: 100%;
}

.catalog-number {
	float: left;
	font-weight: normal;
}

.common-name {
	float: right;
	font-weight: 800;
}

.subheader {
	position: absolute;
	top: .75in;
	width: 100%;
}

.latin-name {
	font-size: 1.8em;
	font-style: italic;
	float: left;
	width: 49%;
}

.variety {
	font-size: 32px;
	font-weight: 700;
	float: right;
	width: 49%;
	text-align: right;
}

.description-group {
	width: 100%;
	position: absolute;
	top: 1.45in;
	text-align: left;
	font-size: 1em;
}

.image {
	position: relative;
	float: left;
	width: 240px;
	height: 240px;
	overflow: hidden;
}

.image img.photo {
	position: relative;
	margin: 0 auto;
	box-shadow: 1px 1px 2px #666;
	width: 240px;
}

.image .saturday-delivery img {
	position: absolute;
	bottom: 0;
	right: 0;
	box-shadow: 4px 4px 8px #333;
	width: .5in;
}

.description-text {
	float: right;
	width: 65%;
}

.extended_description {
	
}

.details-group {
	width: 100%;
}

.icons {
	position: absolute;
	margin: 0 auto;
	top: 4in;
	left: 0;
}

.icons ul {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}

.icons ul.sunlight {
	display: block;
	padding-right: 15ex;
}

.icons ul li {
	display: inline-block;
	float: left;
}

.icons ul li img {
	width: 36px;
}

.sunlight {
	
}

.full_sun {
	
}

.part-sun {
	
}

.shade {
	
}

.flags {
	
}

.saturday {
	
}

.price-group {
	position: absolute;
	bottom: .6in;
	right: 0;
}

.pot-size {
	font-weight: normal;
	font-size: 24px;
}

.price {
	font-size: 32px;
	font-weight: 800;
}

.dimensions {
	position: absolute;
	top: 3.7in;
	left: 4in;
}

.dimensions .width,.dimensions .height {
	display: inline-block;
	padding: 0 16px;
}

.dimensions label {
	font-size: 16px;
}

.dimensions .text {
	font-size: 32px;
	font-weight: normal;
}

.footer-group {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

.grower-name {
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	float: right;
}

#crop-failure {
	position: absolute;
	position: absolute;
	font-weight: bold;
	font-size: 5em;
	color: red;
	opacity: .8;
	top: 13%;
	text-align: center;
	width: 50%;
	left: 36%;
}