@CHARSET "UTF-8";

@import
	url(http://fonts.googleapis.com/css?family=Lato:400,900|Ubuntu:400,700|Merriweather+Sans:400,800,700,normal|Merriweather:400,700,900,normal)
	;

/*
font-family: 'Lato', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Merriweather Sans', sans-serif;
*/
body {
	height: 5.5in;
	width: 8.5in;
	position: relative;
	margin:0;
	padding: 0;
}

.document {
	height: 5.5in;
	width: 8.5in;
	margin: 0;
	padding: 0;
	position: relative;
	clear: both;
	page-break-inside: avoid;
	page-break-after: always;
	border: 1px solid #eee;
	overflow: hidden;
}

.header {
	position: absolute;
	font-size: 3.5em;
	width: 100%;
}

.catalog-number {
	float: left;
	font-weight: normal;
}

.common-name {
	float: right;
	font-weight: 800;
}

.subheader {
	position: absolute;
	top: .85in;
	width: 100%;
}

.latin-name {
	font-size: 1.8em;
	font-style: italic;
	float: left;
	width: 45%;
}

.variety {
	font-size: 2em;
	font-weight: 700;
	float: right;
	width: 45%;
}

.description-group {
	width: 100%;
	position: absolute;
	top: 1.65in;
	text-align: left;
	font-size: 1em;
}

.image {
	position: relative;
	float: left;
}

.image img.photo {
	position: relative;
	margin: 0 auto;
	height: 2.5in;
	max-width: 4in;
	box-shadow: 1px 1px 2px #666;
}

.image .saturday-delivery img {
	position: absolute;
	bottom: 0;
	left: 0;
	box-shadow: 4px 4px 8px #333;
	width: .5in;
}

.description-text {
	float: right;
	width: 4in;
}

.note {
	
}

.details-group {
	width: 100%;
}

.icons {
	position: absolute;
	margin: 0 auto;
	top: 3.5in;
	left: 4in
}

.icons ul {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}

.icons ul.sunlight {
	display: block;
	padding-right: 15ex;
}

.icons ul li {
	display: inline-block;
	float: left;
}

.icons ul li img {
	width: 36px;
}

.sunlight {
	
}

.full_sun {
	
}

.part-sun {
	
}

.shade {
	
}

.flags {
	
}

.saturday {
	
}

.price-group {
	position: absolute;
	bottom: 3.5em;
	right: 0;
}

.pot-size {
	font-weight: normal;
	font-size: 1.5em;
}

.price {
	font-size: 2em;
	font-weight: 800;
}

.dimensions {
	position: absolute;
	bottom: .25in;
	left: 0;
}

.dimensions .width,.dimensions .height {
	display: inline-block;
	padding: 0 1em;
}

.dimensions label {
	font-size: 1em;
}

.dimensions .text {
	font-size: 2em;
	font-weight: normal;
}

.footer-group {
	position: absolute;
	left: 0;
	bottom: 1.3em;
	width: 100%;
}

.grower-name {
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
	float: right;
}

